#upvotebuttonList {
    list-style: none;
}

.mat-green {
    color: green;
}

.mat-red {
    color: red;
}

/* mat-grid-tile {
    background: lightblue;
} */

mat-selection-list {
    max-height: 400px;
    overflow: auto;
}

request-tile {
    display: flex !important;
    flex-direction: column !important;
}

/* .video-title>figure {
    justify-content: flex-start !important;
} */

/* #upVoteButton, #downVoteButton {
    height:60px !important;
    width:60px !important;
    font-size:60px !important;
} */