<mat-grid-list cols="3" rowHeight="10em">
    <!-- 1st tile -->
    <mat-grid-tile rowspan="4" class="policySelect">
        <mat-spinner *ngIf="loadingSpinner"></mat-spinner>
        <div *ngIf="!loadingSpinner && policiesLength == 0">
            <p>No data</p>
        </div>
        <div class="request-tile" *ngIf="!loadingSpinner && policiesLength != 0">
            <h3>Select company data access requests to see the terms and conditions</h3>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option (click)="triggerParamLoad(shoes.selectedOptions.selected[0]?.value)"
                    *ngFor="let shoe of typesOfShoes; let i = index" [value]="shoe" [selected]="shoe && i == 0">
                    {{shoe}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </mat-grid-tile>
    <!-- 2nd tile -->
    <mat-grid-tile rowspan="1">
        <h2>User Dashboard</h2>
    </mat-grid-tile>
    <!-- 3rd tile -->
    <mat-grid-tile>
        <app-profile-component [profName]="profName"></app-profile-component>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="10" class="video-title">
        <div *ngIf="!loadingSpinner && policiesLength == 0">
            <p>No data</p>
        </div>
        <div class="spinner-user-dbd">
            <mat-spinner *ngIf="loadingSpinner"></mat-spinner>
        </div>
        <div style="width: 100%; align-items:flex-start !important;" *ngIf="!loadingSpinner  && policiesLength != 0">
            <div style="width: 100%; display: flex; align-items: flex-start">
                <app-vote-button [voteComponentInit]="timeVoteComponentInputs"></app-vote-button>
                <h4 style="padding-top:5em" matTooltip="http://www.w3.org/ns/odrl/2/Constraint">patient Data access
                    till
                    &nbsp;&nbsp;&nbsp;</h4>
                <mat-form-field appearance="fill" style="padding-top:4em">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" disabled [(ngModel)]="dateSelected">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
            </div>
            <div style="width: 100%; display: flex; align-items: flex-start">
                <app-vote-button></app-vote-button>
                <h4 style="padding-top:5em" matTooltip="http://www.w3.org/ns/odrl/2/action">patient Data will be
                    copied
                    &nbsp;&nbsp;&nbsp;</h4>
                <mat-form-field appearance="fill" style="padding-top:4em;padding-left:1em">
                    <mat-label>yes/no</mat-label>
                    <mat-select [(ngModel)]="yesOrNo" name="shortAnswer" disabled>
                        <mat-option *ngFor="let shortAnswer of shortAnswers" [value]="shortAnswer.value">
                            {{shortAnswer.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div style="width: 100%; display: flex; align-items: flex-start">
                <app-vote-button></app-vote-button>
                <h4 class="pad-top-heading" matTooltip="http://www.w3.org/ns/odrl/2/action">history of data collected
                    will be
                    maintained&nbsp;&nbsp;&nbsp;</h4>
                <mat-form-field appearance="fill" class="pad-top-item">
                    <mat-label>yes/no</mat-label>
                    <mat-select [(ngModel)]="historyOfData" name="shortAnswer" disabled>
                        <mat-option *ngFor="let shortAnswer of shortAnswers" [value]="shortAnswer.value">
                            {{shortAnswer.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div style="width: 100%; display: flex; align-items: flex-start">
                <app-vote-button></app-vote-button>
                <h4 class="pad-top-heading" matTooltip="http://www.w3.org/ns/odrl/2/action">Patient data will be sold to
                    third
                    parties&nbsp;&nbsp;&nbsp;</h4>
                <mat-form-field appearance="fill" class="pad-top-item">
                    <mat-label>yes/no</mat-label>
                    <mat-select disabled [(ngModel)]="dataSelling" name="shortAnswer">
                        <mat-option *ngFor="let shortAnswer of shortAnswers" [value]="shortAnswer.value">
                            {{shortAnswer.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div style="width: 100%; display: flex; align-items: flex-start">
                <app-vote-button [voteComponentInit]="purposeVoteComponentInputs"></app-vote-button>
                <section>
                    <h4 style="padding-top:4em" matTooltip="http://www.w3.org/ns/odrl/2/Constraint">Patient data will be
                        used for following
                        purposes:
                    </h4>
                    <span class="purpose-list-section">
                        <mat-checkbox class="purpose-margin" [checked]="allComplete" [indeterminate]="someComplete()"
                            (change)="setAll($event.checked)" disabled>
                            {{task.name}}
                        </mat-checkbox>
                    </span>
                    <span class="purpose-list-section">
                        <ul>
                            <li *ngFor="let subtask of task.subtasks">
                                <mat-checkbox [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete()"
                                    disabled>
                                    {{subtask.name}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </span>
                </section>
            </div>
            <mat-form-field style="width: 40em; padding-left:7em" appearance="fill">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." rows="5" cols="5"></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
</mat-grid-list>