<mat-grid-list cols="3" rowHeight="10em">
    <!-- 1st tile -->
    <mat-grid-tile></mat-grid-tile>
    <!-- 2nd tile -->
    <mat-grid-tile rowspan="1">
        <h2>Company Dashboard</h2>
    </mat-grid-tile>
    <!-- 3rd tile -->
    <mat-grid-tile>
        <app-profile-component [profName]="profName"></app-profile-component>
    </mat-grid-tile>
    <!-- 2nd row 1st tile -->
    <mat-grid-tile colspan="3" rowspan="2">
        <!-- <div style="width: 100%; display: flex; align-items: flex-start;">
            <mat-tab-group>
                <mat-tab label="Data Access Request">
                    <app-home-page></app-home-page>
                </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>
                <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group>
        </div> -->
        <mat-accordion>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Data Access Request
                    </mat-panel-title>
                    <mat-panel-description>
                        Page where company user creates and submits request to patient groups.
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>click  <button mat-raised-button color="green" (click)="redirect(redirectNames[0])">here</button> to redirect to data access request page</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Request review page
                    </mat-panel-title>
                    <mat-panel-description>
                      Page where submitted and returned data requests can be viewed.
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>click  <button mat-raised-button color="green" (click)="redirect(redirectNames[1])">here</button> to redirect to request review page</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
</mat-grid-list>