.mat-blue {
background-color: #0e71ad;
color:white;
}

.mat-grid-tile-content
{
    flex-direction: column;
}  

#sect1 {  
      
    background-image: url("../../assets/solid.svg");  
    background-size: 10% ;  
    background-repeat: no-repeat;
    background-position: top-left;
     
}  