<mat-grid-list cols="1" rowHeight="5em" id=sect1>
    <mat-grid-tile>
        <h1>SOLID-PCRV</h1><br>
        <h2>(Patient Collab Rule Voting)</h2>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3">
        <p></p>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <mat-button-toggle-group [(ngModel)]="USER_SELECTION" aria-label="Font Style">
            <mat-button-toggle value="USER">&nbsp;&nbsp;USER&nbsp;&nbsp;</mat-button-toggle>
            <mat-button-toggle value="COMPANY">COMPANY</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <mat-button-toggle-group [(ngModel)]="SOLID_IDENTITY_PROVIDER" aria-label="Font Style">
            <mat-button-toggle value="https://inrupt.net">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INRUPT.net&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-button-toggle>
            <mat-button-toggle value="https://solidcommunity.net/">solid community</mat-button-toggle>
            <!-- <mat-button-toggle value="https://login.inrupt.com">INRUPT.com</mat-button-toggle> -->
        </mat-button-toggle-group>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
        <p>Chosen identity provider is {{SOLID_IDENTITY_PROVIDER}}</p>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" aria-colspan="2">
        <div>
            <button mat-raised-button color="blue" (click)="login()">LOGIN</button>
        </div>
        <div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div>
            <button mat-raised-button color="blue" (click)="signUP()"> SIGNUP </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>