<mat-grid-list cols="3"  rowHeight = "5em">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
            <h2>HOME</h2>
        </mat-grid-tile>
    <mat-grid-tile> 
        <p>{{profName}}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
        </mat-grid-tile>
  </mat-grid-list>