<mat-grid-list cols="3" rowHeight="10em">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <h2>Data Access Request</h2>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-profile-component [profName] = "profName"></app-profile-component>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <p>Select the appropriate option available to form your custom rules in accessing patient data</p>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <h4 matTooltip="http://www.w3.org/ns/odrl/2/Constraint">patient Data access till &nbsp;&nbsp;&nbsp;</h4>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)] = "dateSelected">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-grid-tile>
  <mat-grid-tile>
    <h4 matTooltip="http://www.w3.org/ns/odrl/2/action">patient Data will be copied &nbsp;&nbsp;&nbsp;</h4>
    <mat-form-field appearance="fill">
      <mat-label>yes/no</mat-label>
      <mat-select [(ngModel)]="yesOrNo" name="shortAnswer">
        <mat-option *ngFor="let shortAnswer of shortAnswers" [value]="shortAnswer.value">
          {{shortAnswer.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <h4 matTooltip="http://www.w3.org/ns/odrl/2/action">history of data collected will be maintained&nbsp;&nbsp;&nbsp;</h4>
    <mat-form-field appearance="fill">
      <mat-label>yes/no</mat-label>
      <mat-select [(ngModel)]="historyOfData" name="shortAnswer">
        <mat-option *ngFor="let shortAnswer of shortAnswers" [value]="shortAnswer.value">
          {{shortAnswer.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <h4  matTooltip="http://www.w3.org/ns/odrl/2/action">Patient data will be sold to third parties&nbsp;&nbsp;&nbsp;</h4>
    <mat-form-field appearance="fill">
      <mat-label>yes/no</mat-label>
      <mat-select [(ngModel)]="dataSelling" name="shortAnswer">
        <mat-option *ngFor="let shortAnswer of shortAnswers" [value]="shortAnswer.value">
          {{shortAnswer.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <section class="purpose-section">
      <h4 matTooltip="http://www.w3.org/ns/odrl/2/Constraint">Patient data will be used for following purposes:</h4>
      <span class="purpose-list-section">
        <mat-checkbox class="purpose-margin" [checked]="allComplete" [indeterminate]="someComplete()"
          (change)="setAll($event.checked)">
          {{task.name}}
        </mat-checkbox>
      </span>
      <span class="purpose-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete()">
              {{subtask.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile rowspan="1">
    <div>
      <button mat-raised-button color="blue" (click)="submit()">submit request</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>