/* mat-grid-tile {
    background: lightblue;
} */
.red-class{
    color:red;
}
.green-class{
    color:green;
}
.yellow-class{
    color:blue;
}
.review-class{
    color:orange
}
.mat-blue {
    background-color: #0e71ad;
    color: white;
}

.mat-red{
    background-color: indianred;
    color:white;
}

.mat-green{
    background-color:green;
    color:white;
}

ul {
    list-style-type: none;
    margin-top: 4px;
  }